import { SnkrComponent } from "sneakerlib";
import "./{{COMPONENT_NAME}}.css"

class {{COMPONENT_CLASSNAME}} extends SnkrComponent {
    constructor(){
        super();
    }

    name = "{{COMPONENT_NAME}}.html";

    async init(){
        // Your initialization logic
    }
}

export { {{COMPONENT_CLASSNAME}} };